@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: #0f172a;
}
::-webkit-scrollbar-thumb{
  background: #facc15;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: #ca8a04;
}

td {
  @apply pl-10
}
th {
  @apply font-light
}

button {
  @apply hover:text-yellow-400 hover:border-yellow-400 duration-300
}



  
  /* Show the controls (hidden at the start by default) */
  .video-js .vjs-control-bar { 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  /* Make the demo a little prettier */

  
